<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web Frontend Starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/css/uikit-core.min.css" />
</head>
<body>
    <div class="uk-container" uk-height-viewport>
        <div id="hello" class="uk-position-center uk-text-center">
            <div id="image"></div>
            <div id="display" class="e-text-large e-light">
                <div v-if="name == 'secret'" >
                    "Three things cannot long stay hidden: the sun, the moon and the truth" - <span class="e-red">Buddha</span>
                </div>
                <div v-else-if="name == 'made'">
                    Made with <span class="e-red" uk-icon="heart"></span> by <span class="e-red">e</span>gia<span class="e-red">th</span>ama<span class="e-red">ers</span>hada 2019
                </div>
                <div v-else class="e-red">
                    Hello, <span id="displayName" class="e-light">{{ displayName }}</span>
                </div>
            </div>
            <div class="e-light">
                <input id="inputName" class="uk-width-2-3 uk-input e-name uk-text-center" v-model="name" type="text" placeholder="Who Are You?" autocomplete="off" />
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.26/js/uikit-icons.min.js"></script>

</body>
</html>