html, body {
  background-color: #252525;
}

.e-light {
  color: #f0f0f0 !important;
}

.e-light .uk-input {
  background-color: #252525;
  border-bottom: 2px solid #0f0f0f;
}

.e-red {
  color: #f02525 !important;
}

.e-text-large {
  font-size: 2rem ;
}